---
import BlogLayout from '../../layouts/BlogLayout.astro';
import Navbar from '../../components/Navbar.astro';
import BlogImage from '../../components/BlogImage.astro';
import { getCollection } from 'astro:content';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();

const formattedDate = new Date(post.data.date).toLocaleDateString('en-US', {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
});
---

<BlogLayout title={`${post.data.title} - Zod Blog`}>
  <div class="isolate bg-white dark:bg-gray-950">
    <Navbar />

    <div class="grid grid-cols-1 xl:grid-cols-[22rem_2.5rem_auto] xl:grid-rows-[1fr_auto]">
      {/* Divider column */}
      <div class="col-start-2 row-span-2 border-r border-l border-gray-950/5 max-xl:hidden dark:border-white/10"></div>

      {/* Date */}
      <div class="max-xl:mx-auto max-xl:w-full max-xl:max-w-(--breakpoint-md)">
        <div class="mt-16 px-4 font-mono text-sm/7 font-medium tracking-widest text-gray-500 uppercase lg:px-2">
          <time datetime={post.data.date.toString()}>{formattedDate}</time>
        </div>

        {/* Title with dividers */}
        <div class="mb-6 px-4 lg:px-2 xl:mb-16 relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]">
          <h1 class="inline-block max-w-(--breakpoint-md) text-[2.5rem]/10 tracking-tight text-pretty text-gray-950 max-lg:font-medium lg:text-6xl dark:text-gray-200">
            {post.data.title}
          </h1>
        </div>
      </div>

      {/* Author section */}
      <div class="max-xl:mx-auto max-xl:w-full max-xl:max-w-(--breakpoint-md)">
        <div class="flex flex-col gap-4">
          <div class="flex items-center px-4 py-2 font-medium whitespace-nowrap max-xl:before:-left-[100vw]! max-xl:after:-left-[100vw]! xl:px-2 xl:before:hidden relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:right-0 after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:right-0">
            <div class="flex gap-4">
              {post.data.authorImage && (
                <img 
                  alt="" 
                  loading="lazy" 
                  width="36" 
                  height="36" 
                  decoding="async" 
                  class="size-4 my-6" 
                  style="color:transparent" 
                  src={post.data.authorImage}
                />
              )}
              <div class="flex flex-col justify-center gap-1 text-sm font-semibold">
                <div class="text-gray-950 dark:text-white">{post.data.author}</div>
                {post.data.authorTwitter && (
                  <div>
                    <a href={`https://twitter.com/${post.data.authorTwitter}`} target="_blank" rel="noopener noreferrer" class="text-sky-500 hover:text-sky-600 dark:text-sky-400">
                      @{post.data.authorTwitter}
                    </a>
                  </div>
                )}
              </div>
            </div>
          </div>
        </div>
      </div>

      {/* Article content */}
      <div class="max-xl:mx-auto max-xl:mt-16 max-xl:w-full max-xl:max-w-(--breakpoint-md)">
        <div class="px-4 py-2 lg:px-2 relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]">
          <article class="prose prose-lg prose-slate dark:prose-invert max-w-(--breakpoint-md)">
            <Content />
          </article>
        </div>

        </div>
    </div>
  </div>
</BlogLayout>