---
import BlogLayout from '../layouts/BlogLayout.astro';
import Navbar from '../components/Navbar.astro';
import BlogPattern from '../components/BlogPattern.astro';
import { getCollection } from 'astro:content';
import { Mail } from 'lucide-astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

function formatDate(date: Date): string {
  return date.toLocaleDateString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric',
  });
}
---

<BlogLayout>
  <div class="isolate bg-white dark:bg-gray-950">
    <Navbar />
    <div class="relative mx-auto mt-24 max-lg:max-w-2xl">
      <BlogPattern />
    </div>
    <div class="relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]">
      <h1 class="mx-2 text-6xl tracking-tighter text-balance sm:text-7xl lg:text-8xl">Latest Updates</h1>
    </div>
    <div class="mt-10 relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]">
      <p class="mx-2 text-lg">All the latest Zod news, straight from the team.</p>
    </div>
    <div class="mt-10 relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]">
      <div class="mx-2">
        <form action="#" method="post" class="flex flex-nowrap gap-4">
          <div class="max-w-82 flex-1">
            <div class="group relative">
              <div class="pointer-events-none absolute left-4 flex h-full items-center">
                <Mail class="size-4 text-gray-950/50 group-focus-within:text-gray-950 dark:text-white/50 dark:group-focus-within:text-white" />
              </div>
              <input
                required
                autocomplete="email"
                aria-label="Email address"
                class="block w-full appearance-none rounded-4xl bg-white py-2 pr-3 pl-10 text-sm/6 text-gray-950 outline -outline-offset-1 outline-gray-950/8 placeholder:text-sm/6 placeholder:text-gray-950/50 focus:outline-gray-950 dark:bg-white/10 dark:text-white/50 dark:outline-white/15 dark:placeholder:text-white/50 dark:focus:outline-white"
                placeholder="Subscribe via email"
                type="email"
                name="email_address"
              />
            </div>
          </div>
          <div>
            <button
              type="submit"
              class="rounded-4xl bg-black px-4 py-2 text-sm/6 font-semibold text-white hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="mt-12 mb-46 grid grid-cols-1 lg:grid-cols-[24rem_2.5rem_minmax(0,1fr)]">
      {posts.map((post, index) => (
        <>
          <div class="p col-span-3 grid grid-cols-subgrid divide-x divide-gray-950/5 dark:divide-white/10 relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]">
            <div class="px-2 font-mono text-sm/6 font-medium tracking-widest text-gray-500 uppercase max-lg:hidden">
              <time>{formatDate(post.data.date)}</time>
            </div>
            <div class="max-lg:hidden"></div>
            <div class="text-md px-2">
              <div class="max-w-(--container-2xl)">
                <div class="mb-4 font-mono text-sm/6 font-medium tracking-widest text-gray-500 uppercase lg:hidden">
                  <time>{formatDate(post.data.date)}</time>
                </div>
                <a class="font-semibold hover:text-cyan-700 dark:hover:text-cyan-300 transition-colors" href={`/blog/${post.slug}`}>
                  {post.data.title}
                </a>
                <div class="prose prose-blog mt-4 line-clamp-3 leading-7">
                  {post.data.excerpt}
                </div>
                <a class="mt-4 inline-block text-sm font-semibold text-sky-500 hover:text-sky-600 dark:text-sky-400" href={`/blog/${post.slug}`}>
                  Read more
                </a>
              </div>
            </div>
          </div>
          {index < posts.length - 1 && (
            <div class="contents divide-x divide-gray-950/5 dark:divide-white/10">
              <div class="h-16 max-lg:hidden"></div>
              <div class="h-16 max-lg:hidden"></div>
              <div class="h-16"></div>
            </div>
          )}
        </>
      ))}
    </div>
  </div>
</BlogLayout>
